/* Global */
* {
    font-family: 'Bebas Neue', cursive;
  }
  
  header {
    background-color: rgb(99, 99, 239);
  }
  
  /* Timer */
  #time-modal {
      width:300px;
      height: 200px;
      border: 1px solid rgb(99, 99, 239);
      background-color:white;
      font-family:Arial, Helvetica, sans-serif;
      box-sizing: border-box;
      text-align:center;
      padding: 40px 0;
      position:absolute;
      z-index:20;
      top:40%;
      left:50%;
      transform: translate(-50%, -50%);
      display:none;
      border-radius:10px;
  }
  
  .modal-close{
      position:absolute;
      top:10px;
      right:10px;
      font-weight:bold;
  }
  
  .score-modal-close {
    position:absolute;
    top:10px;
    right:10px;
    font-weight:bold;
  }
  
  #highscore,
  #src-btn,
  #play-again-btn,
  #submit-btn {
    background-color: rgb(99, 99, 239);
    font: white;
    border:none;
    outline:none;
    font-family: 'Bebas Neue', cursive;
  }
  
  button#highscore:hover {
    color: grey;
    cursor:pointer;
  }

  button#submit-btn:hover {
    color: grey;
    cursor:pointer;
  }
  
  button#start-btn:hover {
    cursor:pointer;
  }
  
  button#play-again-btn:hover {
    color:grey;
    cursor:pointer;
  }
  
  .score-modal-close:hover {
    cursor:pointer;
  }
  
  #start-btn,
  .answer-btn {
    padding: 5px 5px;
    text-align:center;
    font-size:larger;
    background-color: rgb(99, 99, 239);
    font: white;
    border:none;
    border-radius: 10px;
    outline:none;
    font-family: 'Bebas Neue', cursive;
    
  }
  
  #scores-count {
    font:black;
    font-size: large;
  }
  
  #question-container {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 100px 100px;
    text-align: center;
}

#answer-box {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:10px;
    margin: 20px 0;
}

#question-display {
    font:black;
}

#time-modal,
#highscore-modal {
    width:600px;
    height: 200px;
    border: 1px solid white;
    background-color:rgb(99, 99, 239);
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align:center;
    padding: 40px 0;
    position:absolute;
    z-index:20;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    display:none;
    border-radius:10px;
}

#highscore-modal {
    width:800px;
    height:380px;
    z-index:30;
}
